body {
    background-color: rgb(231, 255, 145);
    color: black;
    height: 100%;
    width: 100vw;
    border: 1px darkgreen solid;
    margin: 0;
}

header {
    width: auto;
    border: 1px blue solid;
    text-align: center;
    

}
nav {
    width: auto;
}
#products {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
#CatalogImage1 {
    display: block;
}
#CatalogImage2 {
    display: block;
}
#CatalogImage3 {
    display: block;
}
#Boxfeedbacks {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
