@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

html {
    scroll-behavior: smooth;
}

* {
    transition: 0.5s;
}

body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100vw;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

header {
    width: auto;
    text-align: center;
    background-image: url("https://picsum.photos/1200/500");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6)
}
#topo {
    color: green;
}

#topo, #hero {
    position: relative;
    z-index: 1;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 10px
}

#hero p {
    font-size: 18px;
}

#menu {
    background-color: white;
    padding: 30px;
    text-align: center;
}
#menu a{
    color: green;
    text-decoration: none;
    margin: 40px;
    font-weight: bold;
    transition: 0.3px;
}
#menu a:hover {
    color: white;
    padding: 20px;
    background-color: darkgreen;
    border-radius: 10px;
}

section {
    scroll-margin-top: 80px;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

section h3 {
    font-size: 40px;
}

section p {
    font-size: 16px;
    font-weight: bold;
}
#street {
    color: lightgreen;
}

#productsGrid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#productsCard {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

#productsCard img {
    width: 100%;
    max-height: 200px;
    display: block;
}
#productsCard::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

#productsCard:hover {
    transform: scale(1.10);

}

#productsCard #productsInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
}
#productsCard #productsInfo h5 {
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 8px;
    font-size: 14px;
    text-align: left;
}

#productsCard #productsInfo p {
    background: rgba(88, 255, 72, 0.85);
    margin: 0;
    padding: 15px;
    font-size: 13px;
    text-align: left;
}

#productsInfo a {
    text-decoration: none;
    color: white;
}

#feedbacksGrid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}   

#card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

#card img {
    width: 100%;
    max-height: 200px;
    display: block;

}

#card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

#card:hover {
    transform: scale(1.10);

}


#card #info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
}
#card #info h5 {
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 8px;
    font-size: 14px;
    text-align: left;
}

#card #info p {
    background: rgba(88, 255, 72, 0.85);
    margin: 0;
    padding: 15px;
    font-size: 13px;
    text-align: left;
}

#localizacao {
    background-color: darkgreen;
    border-radius: 20px;
    width: 500px;
    padding: 50px;
}

#localizacao img {
    transition: transform 0.4s ease;
    border-radius: 10px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 40% 50%;
}

#localizacao:hover img {
    transform: scale(1.10);

}

#products {
    background-color: darkgreen;
    border-radius: 20px;
    width: auto;
    padding: 50px;
}

#catalog {
    background-color: darkgreen;
    border-radius: 20px;
    width: auto;
    padding: 50px;
}

#feedbacks {
    background-color: darkgreen;
    border-radius: 20px;
    width: auto;
    padding: 50px;
}
footer {
    text-align: center;
    background-color: white;
    padding: 15px;
    color: darkgreen;
    border-radius: 30px 30px 0 0;
}
#whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(0, 255, 0);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    animation: pulse 2s infinite;
}

#whatsappButton img {
    width: 50px;
    height: 50px;

}
.reveal {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}