html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100vw;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

header {
    width: auto;
    text-align: center;
    background-image: url("https://picsum.photos/1200/500");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6)
}
#topo {
    color: green;
}

#topo, #hero {
    position: relative;
    z-index: 1;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 10px
}

#hero p {
    font-size: 18px;
}

#menu {
    background-color: white;
    padding: 30px;
    text-align: center;
}
#menu a{
    color: green;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    transition: 0.3px;
}
#menu a:hover {
    color: white;
    padding: 20px;
    background-color: darkgreen;
    border-radius: 10px;
}

section {
    scroll-margin-top: 80px;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

section h3 {
    font-size: 40px;
}

section p {
    font-size: 16px;
    font-weight: bold;
}
#street {
    color: lightgreen;
}

#productsGrid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#productsCard {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#productsCard img {
    width: 100%;
    max-height: 200px;
    display: block;
}
#productsCard::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

#productsCard #productsInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
}
#productsCard #productsInfo h5 {
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 8px;
    font-size: 14px;
    text-align: left;
}

#productsCard #productsInfo p {
    background: rgba(88, 255, 72, 0.85);
    margin: 0;
    padding: 15px;
    font-size: 13px;
    text-align: left;
}

#productsInfo a {
    text-decoration: none;
    color: white;
}

#catalog img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    margin-top: 10px;
}

#feedbacksGrid {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}   

#card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#card img {
    width: 100%;
    max-height: 200px;
    display: block;
}

#card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

#card #info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
}
#card #info h5 {
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 8px;
    font-size: 14px;
    text-align: left;
}

#card #info p {
    background: rgba(88, 255, 72, 0.85);
    margin: 0;
    padding: 15px;
    font-size: 13px;
    text-align: left;
}

#localizacao {
    background-color: darkgreen;
    border-radius: 20px;
    width: 500px;
    padding: 50px;
}

#products {
    background-color: darkgreen;
    border-radius: 20px;
    width: auto;
    padding: 50px;
}

#catalog {
    background-color: darkgreen;
    border-radius: 20px;
    width: auto;
    padding: 50px;
}

#feedbacks {
    background-color: darkgreen;
    border-radius: 20px;
    width: auto;
    padding: 50px;
}